body,
img,
ul,
li {
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

a {
    text-decoration: none;
}

#header {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #ccc;
    /* background-color: rebeccapurple; */
}

.header {
    width: 1200px;
    height: 40px;
    /* 居中显示 */
    margin: 0px auto;
}

.header_left {
    width: 400px;
    height: 40px;
    /* background-color: grey; */
    float: left;
}

/* 设置头部字体样式 */
.header_left > div {
    line-height: 40px;
    color: #8492a6;
    float: left;
}

.header_left > div > span {
    font-weight: bold;
}

.header_left > div:nth-child(2) > a,
.header_left > div:nth-child(2) > a > img {
    float: left;
    color: #8492a6;
}

.header_left > div:nth-child(2) > a:hover {
    color: blue;
}

.header_left > div:nth-child(2) > a > img {
    margin-top: 12px;
    margin-left: 40px;
    margin-right: 4px;
    width: 20px;
}

.header_left > div:nth-child(2) > a > i {
    font-weight: bold;
}

.header_left > div:last-child {
    float: left;
    position: relative;
    /* padding: 8px 10px 8px 0px; */
}

.header_left > div:last-child:hover > #top_nav {
    display: block;
}

#top_nav {
    background-color: #fafbfe;
    margin-left: 35px;
    width: 230px;
    border: 1px solid #ccc;
    position: absolute;
    top: 40px;
    z-index: 10;
    display: none;
}

#top_nav > i {
    position: absolute;
    left: 30px;
    top: -20px;
    color: #fafbfe;
    margin-bottom: 4px;
    text-shadow: 1px -1px #ccc, -1px -1px #ccc;
}

#top_nav > ul > li:first-child {
    margin-top: 14px;
}

#top_nav > ul > li:last-child {
    margin-bottom: -10px;
}

#top_nav > ul > li {
    margin: 0px 20px;
    height: 60px;
}

#top_nav > ul > li > a {
    color: #b3bbca;
}

#top_nav > ul > li > a > img {
    float: left;
    width: 40px;
}

.header_right {
    width: 300px;
    height: 40px;
    float: right;
}

.header_right > ul > li > a > img {
    width: 20px;
}

.header_right > ul > li {
    margin-right: 20px;
    line-height: 40px;
    float: right;
}

.header_right > ul > li > a {
    color: #8492a6;
}

.header_right > ul > li > a:hover {
    color: blue;
}

.header_right > ul > li:nth-child(1) {
    /* margin-top: 4px; */
    margin-right: 0px;
}

.header_right > ul > li:nth-child(3) {
    margin-top: 4px;
    margin-right: 10px;
}

.header_right > ul > li:nth-child(2) {
    /* margin-top: 4px; */
    margin-right: 10px;
}

.header_right > ul > li:nth-child(6) {
    margin-top: 4px;
    margin-right: 10px;
}

/**header style结束**/

/**logo style开始**/
#logo {
    width: 1200px;
    height: 120px;
    margin: 10px auto;
}

.logo_left {
    width: 300px;
    height: 120px;
    float: left;
}

.logo_left img {
    width: 300px;
}

.logo_right {
    width: 400px;
    height: 120px;
    float: right;
}

.logo_right img {
    width: 400px;
    margin-top: 43px;
}

/**logo style结束**/

/* nav标签开始 */
#nav {
    width: 1200px;
    height: 45px;
    margin: 0px auto;
}

.nav_left {
    width: 240px;
    height: 45px;
    float: left;
    background-color: #5c00ff;
    /* border: 1px solid saddlebrown; */
    border-radius: 10px 10px 0px 0px;
}

.nav_left > span {
    color: #fff;
    font-size: 26px;
    margin: 30px 10px 10px 50px;
}

.nav_center {
    width: 680px;
    line-height: 45px;
    float: left;
}

.nav_center > a {
    font-size: 18px;
    color: black;
    margin: 0px 10px;
}

.nav_center > a:hover {
    color: blue;
    position: relative;
}

.nav_center > a > i {
    margin-left: -3px;
    margin-top: -12px;
    position: absolute;
    color: red;
}

.nav_right {
    width: 150px;
    line-height: 45px;
    float: right;
}

.nav_right span {
    color: #ff0000;
    font-size: 18px;
    float: right;
}

.nav_right img {
    margin: 10px 10px;
    width: 40px;
    float: right;
}

/* nav标签结束 */

/**banner标签开始**/
#banner {
    width: 100%;
    height: 516px;
    background-color: #f4f4f4;
    position: relative;
}

.banner > img {
    width: 100%;
}

#p_content {
    width: 1200px;
    height: 516px;
    position: absolute;
    top: 0px;
    /**css计算属性**/
    left: calc(50% - 1200px / 2);
}

.banner_nav {
    width: 240px;
    height: 526px;
    background-color: #3a3b47;
    float: left;
}

.banner_nav > ul > li {
    margin-left: 10px;
    margin-bottom: 10px;
    position: relative;
}

.banner_nav > ul > li:hover {
    background-color: #6c6e76;
}

.banner_nav > ul > li:hover > a {
    padding-left: 25px;
}

.banner_nav > ul > li:hover > #java_nav {
    display: block;
}

.banner_nav > ul > li > a {
    display: block;
    color: white;
    font-size: 18px;
}

.banner_nav > ul > li > a > i {
    float: right;
    height: 1px;
    margin-top: 8px;
    margin-right: 20px;
    /* display: inline-block; */
}

.banner_nav > ul > li > span {
    color: #c0c2c2;
    display: block;
    font-size: 14px;
}

.banner_right {
    width: 950px;
    height: 516px;
    float: right;
}

#java_nav {
    display: none;
    background-color: #f5f5f5;
    position: absolute;
    width: 250px;
    height: 526px;
    margin-left: 231px;
    margin-top: -30px;
    z-index: 10;
}

#java_nav > ul > li:first-child {
    margin-top: 20px;
    height: 50px;
    background-color: #5c9bf4;
    border-radius: 4px;
    position: relative;
}

#java_nav > ul > li > span {
    margin: 10px 50px;
    color: black;
    font-size: 20px;
    text-shadow: 3px 3px 5px #ffffff;
    position: absolute;
}

#java_nav > ul > li:nth-child(2) > a {
    position: relative;
}

#java_nav img {
    margin-left: 10px;
    width: 80px;
    height: 80px;
}

#java_nav > ul > li > a {
    display: block;
}

#java_nav > ul > li > a > b {
    position: absolute;
    font-size: 30px;
    margin-top: 30px;
    margin-left: 5px;
}

#content_nav_table {
    margin-top: 20px;
    width: 200px;
    margin-left: 20px;
    box-shadow: 0px 0px 10px 1px black;
    text-align: center;
}

#content_nav_table > thead > tr > td {
    color: #8390A7;
    font-size: 10px;
    height: 40px;
    font-weight: bold;
    text-shadow: 0px 0px 10px white;
}

#content_nav_table > thead > tr {
    background-color: #E8EAEB;
}

#content_nav_table tbody td {
    border-left: 1px solid #E8EAEB;
    border-bottom: 1px solid #E8EAEB;
    font-size: 10px;
    height: 30px;
}

#content_nav_table > tbody > tr > td:nth-child(2) {
    color: #6EA5F2;
    text-shadow: 0px 0px 40px black;
}

.login {
    margin-left: 620px;
    width: 330px;
    height: 360px;
}

.login_main {
    background-color: #ffffff;
    height: 300px;
    width: 240px;
    margin: 40px auto;
    border-radius: 5px;
}

.login > div > div:first-child {
    font-size: 13px;
    color: #a8b1c1;
    margin: 15px 38px;
    padding-top: 20px;
}

.login_btn {
    margin: 10px 24px;
    background-color: blue;
    width: 70px;
    height: 40px;
    border-radius: 4px;
    float: left;
}

.login_btn > a {
    display: inline-block;
    color: #ffffff;
    margin: 8px 20px;
    font-size: 15px;
    font-weight: bold;
}

.register_btn {
    float: left;
    margin: 10px 20px;
    width: 70px;
    height: 40px;
    background-color: white;
    color: blue;
    border-radius: 4px;
    border: 1px solid blue;
}

.register_btn:hover {
    background-color: blue;
}

.register_btn:hover > a {
    color: white;
}

.register_btn > a {
    display: inline-block;
    color: blue;
    margin: 8px 20px;
    font-size: 15px;
    font-weight: bold;
    z-index: 10;
}

.login img {
    margin: 0px 18px;
    width: 200px;
}

.button {
    width: 950px;
    height: 114px;
}

.button > div {
    float: left;
    width: 220px;
    height: 114px;
    position: relative;
    background-color: white;
    margin-left: 15px;
    margin-top: 10px;
    border-radius: 4px;
}

.button > div > a > div {
    position: absolute;
    top: 35px;
    left: 80px;
    display: inline-block;
}

.button > div > a > img {
    margin: 35px 20px;
}

.button > div > a > div > span {
    color: black;
}

.button > div > a > div > span:first-child {
    display: block;
    font-weight: bold;
}

.button > div:last-child > a > div {
    margin-left: 10px;
}

.button > div:last-child > a > img {
    width: 55px;
}

/** banner标签结束**/

/**sidebar开始**/
#siderbar {
    width: 80px;
    height: 330px;
    position: fixed;
    right: 0px;
    top: calc(50% - 360px / 2);
    background-color: ghostwhite;
    /**圆角边框**/
    border-radius: 10px 0px 0px 10px;
    text-align: center;
    box-shadow: -2px 0 8px 0 rgba(0, 0, 0, 0.08);
}

#siderbar > ul > li {
    margin-bottom: 30px;
    position: relative;
}

#siderbar > ul > li > a > img {
    width: 40px;
    margin-left: 20px;
    /* position: absolute; */
    display: block;
}

#siderbar > ul > li > a > span {
    text-align: center;
    font-size: 15px;
}

#siderbar > ul > li > a > i {
    display: block;
    height: 30px;
}

#siderbar > ul > li > a:hover > span {
    color: green;
}

/**sidebar结束**/

/* 内容区域开始 */
#content {
    width: 100%;
    background-color: #f4f4f4;
    height: 620px;
    padding: 40px 0px;
    padding: 40px 0px 80px;
}

.content_center {
    width: 1200px;
    height: 620px;
    margin: 0px auto;
    background-color: white;
}

.content_top {
    width: 1200px;
    height: 80px;
}

.content_top > div:first-child {
    width: 300px;
    height: 80px;
    float: left;
}

.content_top > div:nth-child(1) > span {
    font-size: 24px;
    font-weight: 300;
    color: #666;
    border-left: 3px solid #069506;
    text-align: center;
    display: inline-block;
    margin: 24px 0;
    padding-left: 24px;
}

.content_top > div:nth-child(2) {
    width: 600px;
    height: 80px;
    float: left;

}

.content_top > div:nth-child(2) > ul {
    width: 400px;
    flex-direction: row;
    display: flex;
}

.content_top > div:nth-child(2) > ul > li {
    display: inline-block;
    width: 60px;
    height: 80px;
    text-align: center;
    flex: 1;
}

.content_top > div:nth-child(2) > ul > li > a {
    color: #666;
    font-size: 18px;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    padding-bottom: 0.2rem;
    margin-top: 20px;
    margin-left: 20px;
    display: block;
}

.content_top > div:nth-child(2) > ul > li > a:hover {
    border-bottom: 5px blue solid;
    color: #306EFF;
}


.content_top > div:last-child {
    width: 210px;
    height: 80px;
    float: right;
}

.content_top_right {
    display: flex;
}

.content_top_right > span {
    display: inline-block;
    margin: auto 3px;
    width: 300px;
    font-size: 1rem;
    font-weight: 400;
    color: #8492A6;
    text-align: left;
}

.content_top_right > img {
    float: right;
    width: 50px;
    margin: auto 2px;
}

.content_bottom {
    height: 530px;
    width: 1200px;
}

.content_bottom_left {
    width: 300px;
    float: left;
    height: 530px;
}

.content_bottom_right {
    float: right;
    width: 880px;
    height: 538px;
}

.content_bottom_right > div {
    width: 880px;
    height: 260px;
}

.content_bottom_right > div > div {
    width: 210px;
    height: 260px;
    float: left;
    margin-left: 8px;
    position: relative;
}

.content_bottom_right img {
    width: 210px;
    border-radius: 3px;
}

.content_bottom_left > img {
    width: 90%;
    margin-left: 3px;
    padding-left: 10px;
}

.content_bottom_right > div > div > div:first-child {
    position: absolute;
    left: -8px;
    top: 8px;
    font-style: normal;
    font-family: dincondm;
    font-size: 14px;
    color: white;
    background-image: linear-gradient(90deg, #bd89f8 6%, #9447eb 93%);
    background-color: #9447EB;
    border: 2px #FFFFFF solid;
    border-radius: 10px;
    line-height: 20px;
    padding: 2px;
}

.content_first_div > div:nth-child(4) {
    position: relative;
    top: 20px;
}

.content_first_div > div:nth-child(4) > p:nth-child(1) > span:nth-child(1) {
    background-color: #63a7f2;
    color: #FFFFFF;
    font-size: 10px;
    margin-left: 3px;
    padding: 1px 4px;
    border-radius: 5px;
}

.content_first_div > div:nth-child(4) > p:nth-child(1) > span:nth-child(2) {
    color: #8492a6;
    font-size: 12px;
}

.content_first_div > div:nth-child(4) > p:nth-child(1) > span:nth-child(3) {
    color: #8492a6;
    font-size: 14px;
}

.content_first_div > div:nth-child(4) > p:nth-child(1) > span:nth-child(3) > i {
    position: relative;
    left: 2px;
}

.content_first_div > div:nth-child(4) > p:nth-child(1) > span:nth-child(4) > i {
    float: right;
    margin-top: 5px;
    color: orange;
    font-size: 10px;
}

.content_first_div > div:nth-child(4) > p:nth-child(2) {
    position: relative;
    top: -8px;
}

.content_first_div > div:nth-child(4) > p:nth-child(2) > span:first-child {
    float: left;
    font-size: 12px;
    color: #8492a6;
    margin-left: 4px;
}

.content_first_div > div:nth-child(4) > p:nth-child(2) > span:nth-child(2) {
    float: right;
    font-size: 12px;
    color: white;
    background-color: rgba(242, 13, 13, 0.6);;
    padding: 2px 4px;
    border-radius: 5px;
}

.content_bottom_right > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
    background-image: linear-gradient(90deg, #ffaa00 17%, #f76b1c 100%);
    background-color: #FFAA00;
}

.content_bottom_right > div:nth-child(2) > div > div:nth-child(4) >p:nth-child(1) >span:first-child {
    background-color: rgba(242, 13, 13, 0.6);
}

.content_bottom_right_div_second > div:nth-child(2) > div:nth-child(4) >p:nth-child(1) >span:nth-child(1) {
    background-color: #21c8aa !important;
}

.content_bottom_right_div_second > div:nth-child(3) > div:nth-child(4) {
    position: relative;
    top: -2px;
}

.content_bottom_right_div_second > div:nth-child(4) > div:nth-child(4) {
    position: relative;
    top: -2px;
}

.content_bottom_right_div > div:nth-child(4) > div:nth-child(4) {
     position: relative;
     top: -3px !important;
 }

.content_bottom_right a {
    color: black;
    margin-left: 2px;
}

.content_bottom_right a:hover {
    color: rgba(242, 13, 13, 0.6);
}

/* 内容区域标签结束 */

/**底部样式开始**/
#footer {
    width: 100%;
    height: 305px;
    background: #fff;
    margin-top: 60px;
}

.footer {
    height: 305px;
    width: 1200px;
    margin: 0px auto;
    /* border: 1px dotted green; */
}

.footer_top {
    height: 275px;
    /* border: 1px dotted green; */
}

.footer_top_left {
    width: 550px;
    height: 275px;
    float: left;
    /* border: 1px dotted green; */
    position: relative;
}

.footer_top_left > img {
    width: 130px;
    position: absolute;
    top: -50px;
    left: calc(50% - 130px / 2);
}

.footer_top_left > p {
    margin-top: 40px;
    padding-top: 30px;
    font-size: 14px;
    text-indent: 2em;
    color: #8492a6;
    padding-right: 20px;
}

.footer_top_center {
    width: 500px;
    height: 275px;
    float: left;
    /* border: 1px dotted green; */
}

.footer_top_center > div {
    float: right;
    margin-right: 60px;
    margin-top: 10px;
}

.footer_top_center > div > h6 {
    font-size: 18px;
    border-bottom: 1px solid blue;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.footer_top_center > div > div {
    margin-top: -10px;
}

.footer_top_center > div > ul > li {
    padding: 7px 5px;
}

.footer_top_center > div > ul > li > a {
    color: #8492a6;
}

.footer_top_center > div > ul > li:hover > a {
    color: #306eff;
    text-decoration: underline;
}

.footer_top_right {
    width: 120px;
    height: 275px;
    float: right;
    /* border: 1px dotted green; */
}

.footer_top_right > img {
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-top: 50px;
}

.footer_top_right > div {
    color: #8492a6;
}

.footer_bottom {
    height: 28px;
    text-align: center;
    line-height: 38px;
    margin-bottom: 5px;
    color: #8492a6;
    font-weight: bold;
}
