html,body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #eeeeee;
    margin: 0 auto;
}

.container > div {
    width: 50%;
    margin: 0 auto;
}

.container > div > img {
    width: 100%;
}